body{
  background-image: url(images/bck1.png);
  background-repeat:none ;
  z-index: 1;
  height: 1000px;
  width: 50%;
  background-size: cover;
  
}

.bouton1 {
    background-color: rgb(197, 189, 178);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 2rem;
    }
    
    
.bouton1:hover {
  opacity : 5.0;
  background-color: rgb(99, 99, 121);
}

.B1{
  position: relative;
  left: 850px;
  bottom: -200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}


.container{
  width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 15%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}


.slider1{
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}

.container2{
  width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 85%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}


.slider2{
  width: 100%;
  display: flex;
  animation: slide 10s infinite ease-in-out;
}

img{
  width: 100%;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

.slider-container{
  position: relative;
  left: 485px;
}

.slider-1 {
  max-width: 800px;
  margin: 100px auto;
  overflow: hidden;


}
.slider-1 .slider {
  animation: slider-1 12s infinite ease-in-out;
  display: flex;

}
.slider-1 p {
  flex-shrink: 0;
  padding: 72px 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: #f1f1f1;
}


@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} 

.menu {
  background-color: rgb(197, 189, 178);
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 2rem;
  }
  
  
.menu:hover {
opacity : 5.0;
background-color: rgb(99, 99, 121);
visibility: visible;
}

:root{
  --hauteur-menu: 50px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width  : 160px;
  height : 150px;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: rgb(85, 83, 83);
  position: relative;
  bottom: 350px;
  height: 100%;
  flex: 1;
  border-radius: 5%;
}

nav > ul > li:hover > a{
  color: rgb(197, 194, 182);
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 5px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: rgb(85, 83, 83);
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #000000;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #000000;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: white;
}

.btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  width: 50px;
}