footer {
    background-color:  #ffffff2e;
    color: #feecac;
    text-align: center; 
    border-top: 4px solid #feecac; 
    font-family: 'Pixelify Sans', sans-serif; 
    padding-top: 10px;

}

footer h2 {
    font-size: 1.8em; 
    color: #feecac; 
    margin-bottom: 15px; 
    text-transform: uppercase; 
}

footer p {
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

footer a {
    display: inline-block; 
    margin: 10px 20px; 
    padding: 10px 20px; 
    text-decoration: none; 
    color: #feecac; 
    background-color: rgba(255, 101, 79, 0.1); 
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s; 
}

footer a:hover {
    background-color: #ff654f; 
    color: #ffffff; 
}


footer h2 {
    font-weight: 400;
}

@media (max-width: 768px) {
    footer {
        padding: 20px 10px;
    }
    
    footer h2 {
        font-size: 1.5em;
    }
    
    footer p {
        font-size: 1em;
    }
    
    footer a {
        padding: 8px 15px;
    }

    .scores {
        width: 100%;
        overflow: scroll;
    }
}