
body{
    margin: 0;
    background-color: rgb(112, 30, 76);
}


#main {
    
    background-image: url("../images/ping7.gif");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    
   
   
    
}

h1 {
    font-size: 2em;
    color: #feecac;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    margin: 0;
}

.pseudo{

    color: #feecac;
    Font-size: 8em;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0;


}

.pdp{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
      
    width: 100%;
    max-width: 400px;
    padding: 20px; 

    margin: auto;

}

.pdp image{

    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
}


.container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
      
    width: 100%;
    max-width: 400px;
    padding: 20px; 

    margin: auto;
}


form {
    background-color: rgba(112, 30, 76, 0.6); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;  
    width: auto;
    margin: 20px 0;
}


form:first-of-type {
    margin-top: 30px;
}


label {
    font-size: 1.1em;
    color: #feecac;
}
*{
    font-family: "Pixelify Sans";

}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #f15e9c;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #4d003d;
    color: #ffffff;
   
}


.button-display{

display: none;
    
}

.button-73 {
    appearance: none;
    background-color: #ac1c57; 
    border-radius: 40em;
    border-style: none;
    box-shadow:  #b64b78  0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Pixelify Sans";
    font-size: 1 rem;
    font-weight: 600;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
  }

  .button-Pdp{

    appearance: none;
    background-color: #ac1c57; 
    border-radius: 40em;
    border-style: none;
    box-shadow:  #b64b78  0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Pixelify Sans";
    font-size: 1 rem;
    font-weight: 600;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1rem;
  
  }

  .button-Pdp:hover {
    background-color:#e83e88db ;
    box-shadow: #f4b0f5 0 -6px 8px inset;
    transform: scale(1.025);
  }
  
  .button-Pdp:active {
    transform: scale(1.025);
  }
  
  .button-73:hover {
    background-color:#e83e88db ;
    box-shadow: #f4b0f5 0 -6px 8px inset;
    transform: scale(1.025);
  }
  
  .button-73:active {
    transform: scale(1.025);
  }
  
  


#boutmenu {
    visibility: hidden;
    position: absolute;

}

#le_test {
    background-image: url("../images/menu.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    display: none;

}

#boutmenu:checked ~ #boutmenu-container {
    opacity: 1;
    visibility: visible;
    top: 100px; 
}

#boutmenu-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 60px;
    transition: top 0.9s, opacity 0.5s, visibility 0.5s;
}

.boutmenu-select {
    border: 2px solid #feecac;
    background-color: #701e4c;
  
}
.boutmenu-select > a {
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 40px;

}

.boutmenu-select:hover {
    background-color: lightgray;
    opacity: 0.5;
}

#menuslide{
    display: none;
    display: flex;
    justify-content: center;
}



